body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #ffffff;
}

header {
  padding: 15px;
  text-align: center;
  background: #000;
  border-bottom: 2px solid #ff7a00;
}

h1 {
  margin: 0;
  color: #ff7a00;
}

#map {
  height: 50vh;
  width: 100%;
}

#routes {
  padding: 15px;
}

.route {
  background: #1c1c1c;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.route h3 {
  margin: 0;
  color: #ff7a00;
}

.route button {
  margin-top: 8px;
  background: #ff7a00;
  color: #000;
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  font-weight: bold;
}
